<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2>Your Favorites</h2>
        <p *ngIf="favorites.length === 0 && !isLoading">You haven't added any favorites yet.</p>
        
        <ion-list *ngIf="favorites.length > 0">
          <ion-item *ngFor="let favorite of favorites" (click)="navigateToBook(favorite.book.id)">
            <ion-thumbnail slot="start">
              <div *ngIf="favorite.book.image" class="book-cover">
                <img [src]="favorite.book.image" [alt]="favorite.book.title" />
              </div>
              <div *ngIf="!favorite.book.image" class="placeholder-content">
                <div class="gradient-background"></div>
                <div class="book-initials">{{ getInitials(favorite.book.title) }}</div>
                <div class="book-title-overlay">{{ favorite.book.title }}</div>
              </div>
            </ion-thumbnail>
            <ion-label>
              <h3>{{ favorite.book.title }}</h3>
              <p>{{ favorite.book.author }}</p>
              <p>Added: {{ favorite.createdAt | date }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>E-Book Library</ion-title>
  </ion-toolbar>
</ion-footer>